<div class="main">
    <div class="container"> <br><br>
        <div class="row">


            <div class="col-md-12" *ngFor="let b of Blogs,let i= index">
                <!-- Button trigger modal -->
                <div class="card">

                    <div class="card-body">
                        <h4>{{b.Date | date}}</h4>
                        <img [src]="b.Blogimage" alt=""> <br>
                        <br>
                        <h5 class="card-title"> <b>Title</b> :{{b.Title}}</h5> <br>
                        <br>
                        <p> <b>News</b> :{{b.News}}</p>

                        <p class="card-title"><b>Articles</b> : {{b.Articles}}</p>
                        <p class="card-title" style="overflow: hidden;"><b>Content</b> : {{b.Content}}</p>
                    </div>

                </div>
            </div>







        </div>
    </div>
</div>