<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/assets/iuser.png" class="img elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Realestate</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/admin']">
                        <i class="fa-solid fa-hospital-user fa-xl"></i>
                        <p>
                            Admin's
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/user']">
                        <i class="fa-solid fa-users fa-xl"></i>
                        <p>
                            User's
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link " [routerLink]="['/Home/projects']">
                        <!-- <i class="nav-icon far fa-circle nav-icon"></i> -->
                        <i class="fa-solid fa-building fa-xl"></i>
                        <p>
                            Projects
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link " [routerLink]="['/Home/blogs']">
                        <!-- <i class="nav-icon far fa-circle nav-icon"></i> -->
                        <i class="fa-solid fa-blog fa-xl"></i>
                        <p>
                            Blogs
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link " [routerLink]="['/Home/testimonials']">
                        <!-- <i class="nav-icon far fa-circle nav-icon"></i> -->
                        <i class="fa-regular fa-address-card fa-xl"></i>
                        <p>
                            Testimoials
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link " [routerLink]="['/Home/career']">
                        <!-- <i class="nav-icon far fa-circle nav-icon"></i> -->
                        <i class="fa-solid fa-graduation-cap fa-xl"></i>
                        <p>
                            Career
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link " [routerLink]="['/Home/enquiry']">
                        <!-- <i class="nav-icon far fa-circle nav-icon"></i> -->
                        <i class="fa-solid fa-calendar-days fa-xl"></i>
                        <p>
                            Enquiry
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link " [routerLink]="['/Home/baner']">
                        <!-- <i class="nav-icon far fa-circle nav-icon"></i> -->
                        <i class="fa-solid fa-photo-film fa-xl"></i>
                        <p>
                            Banners
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" (click)="logout()">
                        <i class="fa-solid fa-power-off fa-xl"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>