<div class="main">
    <br><br>
    <div class="container">
        <div class="row" *ngFor="let p of projects">

            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1000">
                        <img [src]="p.mainimage" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img [src]="p.floorplanimage" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img [src]="p.image1" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img [src]="p.image2" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img [src]="p.image3" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="div"> <br>
                <h4><b>{{p.Project_Name}}</b></h4>
                <p><b>Project Name:</b> {{p.Project_Name}}</p>
                <p><b>Location:</b> {{p.Location}}</p>
                <p><b>Possession:</b> {{p.possession}}</p>
                <p><b>Typology:</b> {{p.typology}}</p>
                <p><b>Amenities:</b> {{p.Amenities}}</p>
                <p><b>Nearby:</b> {{p.nearby}}</p>

                <h5>Status :</h5>
                <p [ngStyle]="getStyle(p)">
                    {{ p.status == '1' ? 'Project is Under Construction ' : 'Constructed' }}
                </p>
            </div>
            <br><br>
        </div>
    </div>
</div>